<div class="input-select-radio-wrapall">
	{% for choice in choices %}
		<div class="input-select-radio-wrap">
			<label for="{{choice.attributes.id}}">
				<input type="radio" name="{{choice.attributes.name}}" id="{{choice.attributes.id}}" value="{{choice.attributes.value}}" />
				{{choice.label}}
			</label>
		</div>
	{% endfor %}
</div>