{% set this_page = 'overview' %}
{% extends 'ReportBundle::layout.html.twig' %}

{% block html_head %}
	<script type="text/javascript" src="{{ asset('javascripts/DeskPRO/Report/ElementHandler/OverviewStat/StandardWithGroup.js') }}"></script>
{% endblock %}

{% block nav_block %}
{% endblock %}
{% block pagebar %}
{% endblock %}

{% block page %}
	<table cellspacing="0" cellpadding="0" width="100%"><tr><td style="padding-right: 6px;" width="50%">

		<div>
			{% include 'ReportBundle:Overview:tickets-status.html.twig' with { data: tickets_status_data, initial_display: true } %}
		</div>

		<br />

		<div data-element-handler="DeskPRO.Admin.ElementHandler.OverviewStat.StandardWithGroup"	data-update-url="{{ path('report_overview_update_stat', {type: 'tickets_awaiting_agent'}) }}">
			{% include 'ReportBundle:Overview:tickets-awaiting-agent.html.twig' with { data: tickets_awaiting_agent_data, initial_display: true } %}
		</div>

		<br />

		<div data-element-handler="DeskPRO.Admin.ElementHandler.OverviewStat.StandardWithGroup"	data-update-url="{{ path('report_overview_update_stat', {type: 'tickets_user_waiting_time'}) }}">
			{% include 'ReportBundle:Overview:tickets-user-waiting-time.html.twig' with { data: tickets_user_waiting_time_data, initial_display: true } %}
		</div>

	</td><td style="padding-left: 6px" width="50%">

		<div data-element-handler="DeskPRO.Admin.ElementHandler.OverviewStat.StandardWithGroup"	data-update-url="{{ path('report_overview_update_stat', {type: 'tickets_resolved'}) }}">
			{% include 'ReportBundle:Overview:tickets-resolved.html.twig' with { data: tickets_resolved_data, initial_display: true } %}
		</div>

		<br />

		<div data-element-handler="DeskPRO.Admin.ElementHandler.OverviewStat.StandardWithGroup"	data-update-url="{{ path('report_overview_update_stat', {type: 'tickets_response_time'}) }}">
			{% include 'ReportBundle:Overview:tickets-response-time.html.twig' with { data: tickets_response_time_data, initial_display: true } %}
		</div>

		{% if app.getDataService('Sla').getAllSlas()|length %}
			<br />

			<div data-element-handler="DeskPRO.Admin.ElementHandler.OverviewStat.StandardWithGroup"	data-update-url="{{ path('report_overview_update_stat', {type: 'tickets_sla_status'}) }}">
				{% include 'ReportBundle:Overview:tickets-sla-status.html.twig' with { data: tickets_sla_status, initial_display: true } %}
			</div>
		{% endif %}

		<br />

		<div data-element-handler="DeskPRO.Admin.ElementHandler.OverviewStat.StandardWithGroup"	data-update-url="{{ path('report_overview_update_stat', {type: 'chats_created'}) }}">
			{% include 'ReportBundle:Overview:chats-created.html.twig' with { data: chats_created_data, initial_display: true } %}
		</div>

	</td></tr></table>

	<br />

	<div data-element-handler="DeskPRO.Admin.ElementHandler.OverviewStat.StandardWithGroup"	data-update-url="{{ path('report_overview_update_stat', {type: 'tickets_opened_hour'}) }}">
		{% include 'ReportBundle:Overview:tickets-opened-hour.html.twig' with { data: tickets_opened_hour_data, initial_display: true } %}
	</div>

	{#
		<br />

		<div data-element-handler="DeskPRO.Admin.ElementHandler.OverviewStat.StandardWithGroup"	data-update-url="{{ path('report_overview_update_stat', {type: 'kb_views_hour'}) }}">
			{% include 'ReportBundle:Overview:kb-views-hour.html.twig' with { data: kb_views_hour_data, initial_display: true } %}
		</div>
	#}
{% endblock %}