{% macro render_filter_count(count) %}{% if count >= 10000 %}10000+{% else %}{{ count|default(0) }}{% endif %}{% endmacro %}
<ul class="nav-list nav-list-small">
	{% set filter = sys_filters['all'] %}
	<li id="tickets_awaiting_agent_navitem" data-filter-id="{{ filter.id }}" class="filter is-nav-item" data-route="listpane:{{ path('agent_ticketsearch_runfilter', {'filter_id': filter.id}) }}">
		<div class="item">
			<h3>{{ phrase('agent.tickets.status_awaiting_agent') }}</h3>
			<em class="counter list-counter" id="ticket_filter_{{filter.id}}_count2">{{ filter_counts[filter.id]|default(0) }}</em>
		</div>
	</li>
	{% for sys_name,title in {
		'archive_awaiting_user': 'agent.tickets.status_awaiting_user',
		'archive_resolved': 'agent.tickets.status_resolved',
		'archive_closed': 'agent.tickets.status_closed',
		'archive_validating': 'agent.general.awaiting_validation',
		'archive_spam': 'agent.general.spam',
		'archive_deleted': 'agent.general.recycle_bin',
	} %}
		{% if (sys_name != 'archive_closed' or app.getSetting('core_tickets.use_archive')) and (sys_name != 'archive_validating' or archive_filter_counts[filter.id]) %}
			{% set filter = archive_filters[sys_name] %}
			<li data-filter-id="{{ filter.id }}" class="is-nav-item with-route filter filter-{{filter.id}} filter-{{filter.sys_name}} nav-filter-{{filter.id}} is-archive-filter" data-route="listpane:{{ path('agent_ticketsearch_runfilter', {'filter_id': filter.id}) }}">
				<div class="item">
					<h3>{{ phrase(title) }}</h3>
					<div class="float-side"><em class="counter list-counter" id="ticket_filter_{{filter.id}}_count" data-count="{{ archive_filter_counts[filter.id]|default(0) }}">
						{% if archive_filter_counts[filter.id] > 10000 %}
							10000+
						{% else %}
							{% if archive_filter_counts[filter.id] and filter.id in [13, 14, 15, 16] %}~{% endif %}{{ archive_filter_counts[filter.id]|default(0) }}
						{% endif %}
					</em></div>
				</div>
			</li>
		{% endif %}
	{% endfor %}
</ul>