<section class="search-reuslts page-set" data-page="{{ page }}">
	{% for content_info in drafts %}
		{% set info = content_info.info %}
		{% set content = content_info.obj %}
		<article class="row-item content {{ info.content_type }}-{{content.id}} {{ get_type(content)|lower }}">
			<input class="item-select" type="checkbox" value="{{ info.content_type }}.{{content.id}}" data-content-type="{{ info.content_type }}" data-content-id="{{ content.id }}" />
			<div class="top-row">
				<div class="top-row-left">
					<h3>
						<a class="with-route" data-route="page:{{ object_path_agent(content) }}">{{ content.title }}</a>
					</h3>
				</div>
			</div>
			<hr class="clear-top" />
			<div class="extra-fields">
				<ul>
					<li>{{ get_type(content) }}</li>
					{% if info.revision_id %}
						<li>
							{{ phrase('agent.publish.draft_revision') }}
						</li>
					{% else %}
						<li>
							{{ phrase('agent.feedback.status_new') }}
						</li>
					{% endif %}
				</ul>
				<br class="clear" />
			</div>
		</article>
	{% endfor %}
</section>
