{% extends 'AgentBundle::list-pane-layout.html.twig' %}
{% block dp_declare %}
	{{ set_tplvar('baseId', el_uid()) }}
{% endblock %}

{######################################################################################################################}
{# METADATA #}
{######################################################################################################################}
{% block top %}
	<script>
		pageMeta.url_fragment = '{{ url_fragment('agent_publish_listcomments') }}';
		pageMeta.fragmentClass = 'DeskPRO.Agent.PageFragment.ListPane.PublishListComments';
		pageMeta.viewType = '{{ type }}';
	</script>
{% endblock top %}

{######################################################################################################################}
{# HEADER #}
{######################################################################################################################}

{% block pane_header %}
	<h1><i class="icon-dp-article"></i> {{ phrase('agent.publish.comments_list_title', {count: total|default(0)}) }}</h1>
{% endblock pane_header %}

{######################################################################################################################}
{# CONTENT #}
{######################################################################################################################}

{% block pane_content %}

	{% include 'AgentBundle:Publish:list-comments-massactions-bar.html.twig' %}

	{% if comments|length %}
		<section class="comments-list list-listing">
			{% include 'AgentBundle:Publish:list-comments-page.html.twig' %}
		</section>
	{% endif %}

	{% if not comments|length %}
		<section class="list-listing no-results">
			<p>{{ phrase('agent.general.there_are_no_results') }}</p>
		</section>
	{% endif %}

	<footer class="results-nav">
		<div class="pagecontrols results-nav">
			<div class="cursor">
				{{ phrase('agent.general.page_x_of_y', {page: pageinfo.cursor, num_pages: pageinfo.last}) }}

			</div>
			{% if pageinfo.last > 1 %}
				<ul class="pagenav {% if not pageinfo.prev %}no-prev{% endif  %}{% if not pageinfo.next %}no-next{% endif  %}">
					<li class="prev" data-route="{{ path('agent_publish_listcomments', {type: type, page: pageinfo.prev}) }}"></li>
					<li class="next" data-route="{{ path('agent_publish_listcomments', {type: type, page: pageinfo.next}) }}"></li>
				</ul>
			{% endif %}
		</div>
	</footer>

{% endblock pane_content %}