<div class="rating-who-voted" style="width: 500px; max-height: 500px; overflow: auto;">
	<table class="list" cellspacing="0" width="100%">
		<thead class="display-options-trigger dbl-click-trigger nosel">
			<tr>
				<td>{{ phrase('agent.publish.who') }}</td>
				{% if object_type != 'feedback' %}
					<td>{{ phrase('agent.general.rating') }}</td>
				{% endif %}
				<td>{{ phrase('agent.publish.when') }}</td>
			</tr>
		</thead>
		<tbody>
		{% for rating in ratings %}
			<tr class="line-2">
				<td>
					{% if rating.person %}
						{{ rating.person.display_name }}
						{% if rating.person.primary_email_address %}
							&lt;{{ rating.person.primary_email_address }}&gt;
						{% endif %}
					{% else %}
						{% if rating.name %}
							{{ rating.name }}
						{% else %}
							{{ phrase('agent.general.anonymous') }}
						{% endif %}
						{% if rating.email %}
							&lt;{{ rating.email }}&gt;
						{% endif %}
					{% endif %}
					{% if rating.ip_address %}from {{ rating.ip_address }}{% endif %}
				</td>
				{% if object_type != 'feedback' %}
					<td>
						{% if rating.rating >= 1 %}
							{{ phrase('agent.publish.helpful') }}
						{% else %}
							{{ phrase('agent.publish.not_helpful') }}
						{% endif %}
					</td>
				{% endif %}
				<td>
					{{ rating.date_created|date('day') }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
