<table cellspacing="0" cellpadding="0" width="100%" class="field-holders-table th-ra">
	<tbody>
		<tr>
			<th width="100">{{ phrase('agent.general.email_address') }}</th>
			<td>
				<input type="hidden" class="api_data" value="{{ api_data|json_encode }}" />
				{% if person.id and person.primary_email and person.primary_email.email %}
					<input type="hidden" class="set_person_id" value="{{ person.id }}" />
					{% if person.emails|length > 1 %}
						<select name="newticket[person][email_address]">
							{% for email in person.getEmailAddresses() %}
								<option value="{{ email }}" {% if email == person.email_address %}selected="selected"{% endif %}>{{ email }}</option>
							{% endfor %}
						</select>
					{% else %}
						{{ person.primary_email.email }} &middot; <a data-route="person:{{ path('agent_people_view', {'person_id': person.id}) }}">{{ phrase('agent.people.view_profile') }}</a>
					{% endif %}
				{% else %}
					<input type="text" name="newticket[person][email_address]" class="email" value="" style="margin:0;" />
				{% endif %}
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th>{{ phrase('agent.general.name') }}</th>
			<td>
				<input type="text" name="newticket[person][name]" class="name" value="{{ person.name }}" style="margin:0;" />
			</td>
		</tr>
	</tbody>
	{% if not person.id and app.getLanguages().isLangSystemEnabled() %}
		<tbody>
			<tr>
				<th>{{ phrase('agent.general.language') }}</th>
				<td>
					<select name="newticket[person][language_id]">
						{% for lang in app.getLanguages().getAll() %}
							<option value="{{ lang.id }}" {% if lang.id == app.user.language.id %}selected="selected"{% endif %}>{{ phrase_object(lang, 'title') }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		</tbody>
	{% endif %}
</table>