<li class="widget widget-{{widget.id}}" data-widget-id="{{widget.id}}">
	<div style="float:right">
		<ul class="controls">
			<li class="edit edit-trigger"><a href="{{ path('admin_ticketwidgets_edit', {'widget_id': widget.id}) }}" class="popout-trigger">{{ phrase('agent.general.edit') }}</a></li>
		</ul>
	</div>
	<div>
		{{widget.note}}
	</div>
</li>