<a name="dp_message_{{ message.id }}_begin" class="dp_message_{{ message.id }}_begin"></a>
<!-- DP_MESSAGE_BEGIN --><div {{ language_html_attr(ticket ? ticket.language : false) }}>{% if message.primary_translation %}{{ message.primary_translation.message|raw }}{% else %}{{ message.message_html|raw }}{% endif %}</div><!-- DP_MESSAGE_END -->
<a name="dp_message_{{ message.id }}_end" class="dp_message_{{ message.id }}_end"></a>
{% if ticketdisplay.getMessageAttachments(message) %}
	<div style="font-size:11px">
		<br />
		<strong>Attachments</strong>
		{% for attach in ticketdisplay.getMessageAttachments(message) %}
			<br />
			&bull; <a href="{{ attach.blob.getDownloadUrl(true) }}" style="{{ _self.link_style() }}">{{attach.blob.filename}}</a> ({{ attach.blob.getReadableFilesize() }})
		{% endfor %}
	</div>
{% endif %}