{% extends 'AgentBundle:Login:layout.html.twig' %}
{% block head %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#form').on('submit', function(ev) {
			if ($('#new_password').val().length < 4) {
				alert('{{ phrase('agent.login.alert_too_short') }}');
				ev.preventDefault();
				return;
			}
			if ($('#new_password').val() != $('#new_password2').val()) {
				alert('{{ phrase('agent.login.alert_fields_must_match') }}');
				ev.preventDefault();
			}
		});
	});
</script>
{% endblock %}
{% block content %}
<div class="title">
	{{ phrase('agent.general.lost_password') }}
</div>
<div class="content">
	<form action="{{ path(route_prefix ~ '_login', {reset_code: reset_code}) }}" id="form" method="post">
		<fieldset>
			<p>{{ phrase('agent.login.enter_new_password') }}</p>
			<p>
				<i class="icon-lock"></i>
				<input type="password" autocomplete="off" class="text" value="" name="new_password" id="new_password" size="40" tabindex="1" placeholder="{{ phrase('agent.general.new_password') }}" />
			</p>
			<p>
				<i class="icon-lock"></i>
				<input type="password" autocomplete="off" class="text" value="" name="new_password2" id="new_password2" size="40" tabindex="1" placeholder="{{ phrase('agent.general.repeat') }}" />
			</p>
		</fieldset>
		<div id="lost_fields_submit">
			<p><input class="full-width" type="submit" value="{{ phrase('agent.general.reset_password') }}" /></p>
		</div>
		<div id="lost_fields_laoding" style="display: none;">
			<center>
				<img src="{{ asset('images/spinners/loading-big-circle.gif') }}" />
			</center>
		</div>
	</form>
</div>
{% endblock %}