<li class="member-row member-{{ person.id }}" data-person-id="{{ person.id }}">
    <span data-person-id="{{ person.id }}"><b>{{ person.display_name }}</b> &lt;{{person.primary_email.email}}&gt; </span>
    <span class="remove btn-small-remove remove-row-trigger">x</span>

</li>