{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}

<div class="table-list-wrap">
	<h2>{{ phrase('admin.general.error_log_id', {'id':log.id}) }}</h2>
	<table class="table-list" cellspacing="0" cellpadding="0" width="100%">
		<tbody>
			<tr>
				<td width="200"><strong>{{ phrase('agent.general.id') }}</strong></td>
				<td>{{log.id}}</td>
			</tr>

			<tr>
				<td><strong>{{ phrase('agent.general.date') }}</strong></td>
				<td>{{log.date_created|date('fulltime')}}</td>
			</tr>

			<tr>
				<td><strong>{{ phrase('admin.general.log_name') }}</strong></td>
				<td>{{log.log_name}}</td>
			</tr>

			<tr>
				<td><strong>{{ phrase('agent.general.flag') }}</strong></td>
				<td>{{log.flag|default(phrase('agent.general.none'))}}</td>
			</tr>

			<tr>
				<td><strong>{{ phrase('agent.general.priority') }}</strong></td>
				<td>{{log.priority}} {{log.priority_name}}</td>
			</tr>

			<tr>
				<td><strong>{{ phrase('admin.logs.sn') }}</strong></td>
				<td>{{log.session_name|default(phrase('agent.general.none'))}}</td>
			</tr>

			<tr>
				<td><strong>{{ phrase('agent.general.message') }}</strong></td>
				<td>
					<textarea style="width:99%; height:200px; font-family:Monaco, 'Courier New', courier, monospace;">{{log.message}}</textarea>
				</td>
			</tr>

			<tr>
				<td><strong>{{ phrase('admin.general.additional_data') }}</strong></td>
				<td>
					<textarea style="width:99%; height:200px; font-family:Monaco, 'Courier New', courier, monospace;">{{data_structure}}</textarea>
				</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}