<table class="prop-table" cellpadding="0" cellspacing="0" width="100%">
	{% for f in custom_fields %}
	{% if f.hasValue %}
	<tr>
		<th>{{ f.title }}</th>
		<td>{{ render_custom_field(f) }}</td>
	</tr>
	{% endif %}
	{% endfor %}
	<tr>
		<th>{{ phrase('agent.general.timezone') }}</th>
		<td>
			{{ person.timezone }} (GMT {{ person.getTimezoneOffset(true) }})
		</td>
	</tr>
	<tr>
		<th>{{ phrase('agent.general.local_time') }}</th>
		<td>
			{{ person.date_time|date('fulltime', person) }}
		</td>
	</tr>
	{% if person.getRealLanguage() and app.languages.isMultiLang() %}
		<tr>
			<th>{{ phrase('agent.general.language') }}</th>
			<td>
				{{ person.language.getTitle() }}
			</td>
		</tr>
	{% endif %}
</table>