{% set page_handler = 'DeskPRO.Admin.ElementHandler.EmailBanningPage' %}
{% extends 'AdminBundle:Banning:layout.html.twig' %}
{% import 'AdminBundle:Common:design-macros.html.twig' as design %}
{% block html_head %}
<script type="text/javascript" src="{{ asset('javascripts/DeskPRO/Admin/ElementHandler/EmailBanningPage.js') }}"></script>
{% endblock %}
{% block pagebar %}
	<nav>
		<ul>
			<li class="add"><a id="new_email_ban_btn">{{ phrase('admin.banning.add_email_ban') }}</a></li>
		</ul>
	</nav>
	<ul>
		<li>Banning Email Addresses</li>
	</ul>
{% endblock %}
{% block page %}

<nav class="page-top-hugnav">
	<ul>
		<li>
			<input type="text" class="filter-input" id="filter_list" value="" placeholder="{{ phrase('admin.banning.filter_list_') }}" />
		</li>
	</ul>
	<br class="clear" />
</nav>

<ul id="email_rows" class="banned-list">
	{% for email in banned_emails %}
		{% include 'AdminBundle:Banning:email-row.html.twig' %}
	{% endfor %}
</ul>
<br class="clear" />

<div id="email_ban_overlay" style="width: 550px; height: 150px; display: none;">
	<div class="overlay-title">
		<span class="close-trigger close-overlay"></span>
		<h4>{{ phrase('admin.banning.ban_email_address') }}</h4>
	</div>
	<div class="overlay-content">
		<input type="hidden" class="save-url" value="{{ path('admin_banning_newemail') }}?email={email}" />
		{{ phrase('admin.user_rules.email_address_pattern') }}: <input type="text" name="email" value="" style="width: 200px;" />
		<br />
		<small>{{ phrase('admin.banning.examples_email_patterns') }}</small>
	</div>
	<div class="overlay-footer">
		<button class="clean-white save-trigger">{{ phrase('admin.banning.save_ban') }}</button>
	</div>
</div>

{% endblock %}
