<footer class="results-nav" {% if not total_count %}style="display:none"{% endif %}>
	<div class="cursor">
		{% set phrase_part1 %}
		<span class="results-showing-count" id="{{ tplvars.baseId }}_showing_count">{{ ((page - 1) * per_page) + 1 }} - {{ showing_to }}</span>
		{% endset %}
		{% set phrase_part2 %}
		<span class="results-total-count" id="{{ tplvars.baseId }}_total_count">{{ total_count }}</span>
		{% endset %}
		{{ phrase('agent.general.showing_results_x_of_y', {'display_count':phrase_part1,'size':phrase_part2}, true) }}
	</div>
		<ul class="pagenav no-prev">
			<li class="prev"></li>
			<li class="next"></li>
		</ul>
	<div class="loading">

	</div>
</footer>