{##
 # The chat window
 ##}
{% import 'UserBundle:Common:macros-form.html.twig' as formmacro %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="{% if is_rtl() %}rtl{% endif %}" {{ language_html_attr() }}>
<head>
	<script type="text/javascript">
		var BASE_URL = '{{ path('user') }}';
		var BASE_PATH = '{{ app.request.getBaseUrl()|replace({'/index.php':''}) }}/';
		var ASSETS_BASE_URL = '{{ asset('') }}';
		var DESKPRO_PERSON_ID = {{ app.user.id|default(0) }};
		var DESKPRO_SESSION_ID = '{{ app.session.getId() }}';
		var DP_REQUEST_TOKEN = '{{ security_token('request_token', 10800) }}';

		{% if constant('DP_DEBUG') %}
			DP_DEBUG = true;
		{% else %}
			DP_DEBUG = false;
		{% endif %}
	</script>

	{% if app.isDebug() %}
		{{ dp_asset_html('user_vendors') }}
		{{ dp_asset_html('user_common') }}
		<link id="dp_stylesheet" rel="stylesheet" type="text/css" href="{{ app.request.getBasePath() }}/file.php/res-user/main.css?{{ app.style.css_updated|date('U') }}&amp;reload=1{% if is_rtl() %}&amp;rtl=1{% endif %}" media="screen,print" />
	{% else %}
		{{ dp_asset_html('user') }}
		{% if (is_rtl() and not app.style.css_blob_rtl) or (not is_rtl() and not app.style.css_blob) or app.admin_portal_controls %}
			<link id="dp_stylesheet" rel="stylesheet" type="text/css" href="{{ app.request.getBasePath() }}/file.php/res-user/main.css?{{ app.style.css_updated|date('U') }}&amp;reload=1{% if is_rtl() %}&amp;rtl=1{% endif %}" media="screen,print" />
		{% else %}
			{% if is_rtl() %}
				<link id="dp_stylesheet" rel="stylesheet" type="text/css" href="{{ app.style.css_blob_rtl.getDownloadUrl() }}?{{ app.style.css_blob_rtl.id }}" media="screen,print" />
			{% else %}
				<link id="dp_stylesheet" rel="stylesheet" type="text/css" href="{{ app.style.css_blob.getDownloadUrl() }}?{{ app.style.css_blob.id }}" media="screen,print" />
			{% endif %}
		{% endif %}
	{% endif %}

	{% if app.isDebug() %}
		<script src="{{ app.request.getBaseUrl()|replace({'/index.php':''}) }}/dp.php/user-lang-{{ app.language.id }}.js?nocache=1&v={{ security_token('lang') }}"></script>
	{% else %}
		<script src="{{ app.request.getBaseUrl()|replace({'/index.php':''}) }}/dp.php/user-lang-{{ app.language.id }}.js?v={{ app.getSetting('core.deskpro_build') }}"></script>
	{% endif %}

	<link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/user/main-print.css') }}" media="print" />
	<!--[if IE ]><link href="{{ asset('stylesheets/user/main-ie.css') }}" rel="stylesheet" type="text/css"><![endif]-->

	<script src="{{ asset('javascripts/DeskPRO/TouchCaller.js') }}" type="text/javascript"></script>
	<script src="{{ asset('javascripts/DeskPRO/WordHighlighter.js') }}" type="text/javascript"></script>
	<script src="{{ asset('javascripts/DeskPRO/User/ChatWidget/ChatWin.js') }}" type="text/javascript"></script>

	<script type="text/javascript">
		window.DeskPRO_Window = new DeskPRO.User.Window();
		var ChatWin = new DeskPRO.User.WebsiteWidget.ChatWin({
			parentUrl: {{ parent_url|json_encode|raw }},
			sessionCode: '{{ session_code }}',
			conversationId: {{ convo.id|default(0) }},
			assignedAgentId: {{ convo.agent.id|default(0) }},
			assignedAgentName: '{{ convo.agent.display_name_user|default(0) }}',
			assignedAgentAvatar: '{{ convo.agent.getPictureUrl(30)|default(0) }}',
			assignedAgentAvatarIcon: '{{ convo.agent.getPictureUrl(16)|default(0) }}',
			initialMessages: {{ convo_messages|json_encode|raw }},
			uploadTo: '{{ path('user_accept_upload') }}',
			uploadSecurityToken: '{{ security_token('attach_temp') }}',
			autoStart: {% if auto_start %}true{% else %}false{% endif %},
			isWindowMode: {% if is_window_mode %}true{% else %}false{% endif %}
		});
		$(document).ready(function() {
			window.DeskPRO_Window.initPage();
			ChatWin.initPage();

			$('.dp-copy a').on('click', function(ev) {
				ev.preventDefault();

				var href = $(this).attr('href');
				window.open(href);
			})
		});
	</script>
</head>
<body id="dp_chat" {% if is_window_mode %}class="window-mode"{% endif %}>
<div id="dp">
<div id="dp_chat_wrap">

	<section class="dp-chat-active-state" id="dp_chat_start">
	<header>
		<h3>{{ phrase('user.general.log_in') }}</h3>
	</header>
	<article>

		{% if app.user.id %}
			<section class="dp-well">
				<header>
					<label>
						<h3>{{ phrase('user.error.permission-denied-title') }}</h3>
					</label>
				</header>
				<article>
					{{ phrase('user.error.permission-denied') }}
				</article>
			</section>
			<br/>
		{% else %}
			{% if app.getSetting('core.user_mode') != 'closed' %}
				<section class="dp-well">
					<header>
						<div style="float:right">
							<button class="dp-btn" onclick="window.open('{{ path('user_register') }}'); return false;">{{ phrase('user.profile.register') }} &rarr;</button>
						</div>
						<label>
							<h3>{{ phrase('user.profile.im_new_user') }}</h3>
						</label>
					</header>
				</section>
				<br/>
			{% endif %}

			<section class="dp-well">
				<header>
					<label>
						<h3>{{ phrase('user.profile.im_already_registered') }}</h3>
					</label>
				</header>
				<article id="user_type_exist_form" class="dp-well dp-well-light">
					<form action="{{ path('user_login_authenticate_local') }}" class="dp-layout" method="post" id="overlay_login_form">
						{{ form_token('user_login') }}
						<table cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td>
									<div style="padding-bottom: 5px;">
										{{ phrase('user.general.email_address') }}
									</div>
									<div>
										<input type="text" name="email" size="20" value="{{ failed_login_name|default(app.getVariable('login_with_email')) }}" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div style="padding-bottom: 5px;">
										{{ phrase('user.profile.password') }}
										{% if app.getSetting('core.user_mode') != 'closed' %}<a style="margin-{% if is_rtl() %}right{% else %}left{% endif %}: 9px;" href="{{ path('user_login_resetpass') }}" target="_blank">{{ phrase('user.profile.lost_qm') }}</a>{% endif %}
									</div>
									<div>
										<input type="password" value="" name="password" size="20" />
									</div>
								</td>
							</tr>
							<tr>
								<td style="text-align: center; vertical-align: middle;" valign="middle">
									<button class="dp-btn dp-btn-primary submit-btn" type="submit">{{ phrase('user.general.log_in') }}</button>
									<i class="spinner-flat login-loading" style="display: none"></i>
								</td>
							</tr>
						</table>
					</form>
				</article>
			</section>
		{% endif %}
	</article>

	<footer class="dp-chat-footer">
		{{ dp_copyright() }}
	</footer>
</section>

</div></div>

</body>
</html>
