<!-- AddThis Button BEGIN -->
<a class="addthis_button"
 	{% if url %}addthis:url="{{url}}"{% endif %}
 	{% if title %}addthis:title="{{title}}"{% endif %}
 	{% if description %}addthis:title="{{description}}"{% endif %}
	href="http://www.addthis.com/bookmark.php?v=250&amp;pubid={{app.getSetting('core.addthis_username')}}"
><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid={{app.getSetting('core.addthis_username')}}"></script>
<!-- AddThis Button END -->