<div
	style="width: 700px; height: 600px; display: none;"
	data-element-handler="DeskPRO.Admin.ElementHandler.CloudEmailGatewayEditAccount"
	data-save-url="{{ path('admin_emailgateways_cloud_editaccount_save', {gateway_id: gateway.id}) }}"
>
	<div class="overlay-title">
		<span class="close-overlay"></span>
		<h4>Custom Email Account</h4>
	</div>

	<div class="overlay-content">
		<div class="dp-form">
			<div class="dp-form-row">
				<div class="dp-form-label">
					<label>Custom Email Address (for incoming mail)</label>
				</div>
				<div class="dp-form-input">
					<p style="padding-bottom: 8px;">
						Configure any email address you control to <strong>forward</strong> mail into your DeskPRO mailbox at {{ gateway.getPrimaryEmailAddress() }}.
						Then anyone can then email your custom email address and DeskPRO will process it into tickets and replies as usual.
					</p>
					<p style="padding-bottom: 8px;">
						The helpdesk will also send emails out with your custom address in the "From" header. This means your end-users will never see the default
						DeskPRO email address.
					</p>
					<table>
						<tr>
							<td>
								<div style="padding-top: 3px;">
									Enter your custom email address:&nbsp;&nbsp;
								</div>
							</td>
							<td>
								<input name="alias_email_address" type="text" value="{{ gateway.getAliasEmailAddress() }}" style="width: 265px;" />
								<div style="font-size:11px; text-align: right" class="reveal-more-addresses-btn subtext" {% if gateway.addresses|length > 2 %}style="display: none;"{% endif %}>
									<a href="#" class="editable-link"><span>Add more addresses</span></a>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="dp-form-row more-email-addresses" {% if gateway.addresses|length < 3 %}style="display: none;"{% endif %}>
				<div class="dp-form-label">
					<label>Additional custom email addresses</label>
				</div>
				<div class="dp-form-input">
					<p style="padding-bottom: 8px;">
						Add any number of other email addresses that you have configured to forward into your DeskPRO mailbox.
					</p>
					<ul class="small-detail-list">
						{% for addr in gateway.addresses %}
							{% if loop.index > 2  %}
								<li>
									<input type="hidden" name="email_addresses[]" value="{{ addr.match_pattern }}" />
									<span>{{ addr.match_pattern }}</span>
									<i class="icon-remove remove-trigger" style="cursor: pointer; margin-left: 4px; color: #999;"></i>
								</li>
							{% endif %}
						{% endfor %}
						<li class="add-row">
							<input type="text" name="email_addresses[]" value="{{ addr.match_pattern }}" placeholder="Enter another email address" style="padding: 1px; margin: 0; font-size: 11px; width: 150px;" />
							<button class="clean-white add-trigger" style="padding: 0px; margin:0 0 0 4px; font-size: 11px;">Add</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<br/>

		{% include 'CloudAdminBundle:EmailTransports:edit-account-form.html.twig' with {form: trans_form} %}

		<br/><br/>
	</div>
	<div class="overlay-footer">
		<div class="is-not-loading">
			<button class="clean-white save-trigger">Save Changes</button>
		</div>
		<div class="is-loading">
			<img src="{{ asset('images/spinners/loading-small-flat.gif') }}" />
		</div>
	</div>
</div>