<select name="{{ name }}">
	<option value="new">{{ phrase('agent.feedback.status_new') }}</option>
	<optgroup label="{{ phrase('agent.feedback.status_active') }}">
		{% for cat in active_status_cats %}
			<option value="active.{{ cat.id }}">{{ cat.title }}</option>
		{% endfor %}
	</optgroup>
	<optgroup label="{{ phrase('agent.tickets.status_closed') }}">
		{% for cat in closed_status_cats %}
			<option value="closed.{{ cat.id }}">{{ cat.title }}</option>
		{% endfor %}
	</optgroup>
	{% if constant('DP_DEBUG') %}
		<option value="hidden.validating" selected="selected">{{ phrase('agent.general.dev_validating') }}</option>
	{% endif %}
</select>
