<article
	class="row-item news news-{{news.id}} related-is-linkable"
	data-content-type="news"
	data-content-id="{{ news.id }}"
	data-route="news:{{ path('agent_news_view', {'news_id': news.id}) }}"
	data-route-title="@selector(a.row-title)"
	data-route-openclass="open"
>
	{#<input class="item-select" type="checkbox" value="{{news.id}}" />#}
	<div class="top-row">
		<div class="top-row-left">
			<h3>
				<a class="row-title click-through">{{ news.title }}</a>
			</h3>
		</div>
		<div class="top-row-right visible-related-content-controls">
			<div class="bound-faded"></div>
			<span class="tipped related-link" title="{{ phrase('agent.general.add_as_related') }}"></span>
			<span class="tipped related-unlink" title="{{ phrase('agent.general.remove_as_related') }}"></span>
		</div>
	</div>
	<hr class="clear-top" />
		<div class="extra-fields">
			<ul>
				<li>
					<span class="prop-title">{{ phrase('agent.general.category') }}</span>
					<span class="prop-val">{{ news.category.full_title }}</span>
				</li>
				<li>
					<span class="prop-title">{{ phrase('agent.general.author') }}</span>
					<span class="prop-val">{{ news.person.display_name }}</span>
				</li>
				<li>
					<span class="prop-title">{{ phrase('agent.general.date_created') }}</span>
					<span class="prop-val">{{ news.date_created|date('day')}}</span>
				</li>
			</ul>
			<br class="clear" />
		</div>
</article>
