<li class="keyboard with-menu">
	<a href="" class="tipped" data-tipped="keyboard_shortcuts_tip" data-tipped-options="inline: true, hook: 'bottommiddle'">{{ phrase('agent.interface.keyboard') }}</a>
	<div id="keyboard_shortcuts_tip" style="display: none">
		<table cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td>
					<h5>{{ phrase('agent.general.window_navigation') }}</h5>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_ctrl_left') }}</kbd> {{ phrase('agent.interface.key_left_tab') }}
					</div>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_ctrl_right') }}</kbd> {{ phrase('agent.interface.key_right_tab') }}
					</div>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_ctrl_shift_c') }}</kbd> {{ phrase('agent.interface.key_close_tab') }}
					</div>
				</td>
				<td>
					<h5>{{ phrase('agent.general.create_content') }}</h5>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_new_ticket') }}</kbd> {{ phrase('agent.general.new_ticket') }}
					</div>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_new_person') }}</kbd> {{ phrase('agent.general.new_person') }}
					</div>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_new_article') }}</kbd> {{ phrase('agent.general.new_article') }}
					</div>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_new_download') }}</kbd> {{ phrase('agent.general.new_download') }}
					</div>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_new_feedback') }}</kbd> {{ phrase('agent.general.new_feedback') }}
					</div>
				</td>
			</tr>
		</table>
		<table cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td>
					<h5>{{ phrase('agent.general.tickets') }}</h5>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_shift_r') }}</kbd> {{ phrase('agent.general.focus_reply_box') }}
					</div>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_shift_c') }}</kbd> {{ phrase('agent.interface.set_ticket_resolved') }}
					</div>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_shift_a') }}</kbd> {{ phrase('agent.interface.assign_to_self') }}
					</div>
				</td>
				<td>
					<h5>{{ phrase('agent.general.people') }}</h5>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_shift_r') }}</kbd> {{ phrase('agent.interface.focus_notes_box') }}
					</div>
					<div class="row">
						<kbd>{{ phrase('agent.interface.kbd_shift_t') }}</kbd> {{ phrase('agent.interface.create_ticket_person') }}
					</div>
				</td>
			</tr>
		</table>
	</div>
</li>
