<dp:subject>{{ phrase('user.email_subjects.password_agent-reset') }}</dp:subject>
{{ phrase('user.emails.password_agent-reset') }}:

<br /><br />

<strong>{{ phrase('agent.general.url') }}: </strong> <a href="{{ url_full('user') }}">{{ url_display('user') }}</a><br />
<strong>{{ phrase('agent.general.email_address') }}:</strong> {{ person.primary_email_address }}<br />
<strong>{{ phrase('agent.general.password') }}:</strong> {{ person.plaintext_password }}