<dp:subject>{{ phrase('user.email_subjects.chat_transcript') }}</dp:subject>
{{ phrase('user.emails.chat_transcript') }}

<br /><br />

{% for message in convo_messages|reverse %}
	{% if message.is_sys %}
		<div>
			[{{ message.date_created|date('time') }}] *
			{% if message.metadata.phrase_id %}
				{% if message.is_html %}
					{{ phrase('user.chat.'~ message.metadata.phrase_id, message.metadata) }}
				{% else %}
					{{ phrase('user.chat.'~ message.metadata.phrase_id, message.metadata)|e }}
				{% endif %}
			{% elseif message.is_html %}
				{{message.content|raw}}
			{% else %}
				{{message.content}}
			{% endif %}
		</div>
	{% elseif message.author.is_agent and message.author.id != convo.person.id %}
		<div style="background-color: #EDEDED">
			[{{ message.date_created|date('time') }}] {{ message.author.display_name_user }}:
			{% if message.is_html %}
				{{message.content|raw}}
			{% else %}
				{{message.content}}
			{% endif %}
		</div>
	{% else %}
		<div style="background-color: #EDEDED">
			[{{ message.date_created|date('time') }}] {% if message.author %}{{ message.author.display_name_user }}{% else %}{{ convo.person_email }}{% endif %}:
			{% if message.is_html %}
				{{message.content|raw}}
			{% else %}
				{{message.content}}
			{% endif %}
		</div>
	{% endif %}
{% endfor %}