<dp:subject>{{ phrase('user.email_subjects.comment-approved') }}</dp:subject>
{% set content = comment.getObject() %}
{% set phrase_link %}<a href="{{ content.getLink(false) }}">{{ content.title }}</a>{% endset %}
{{ phrase('user.emails.comment_thank-you', {'link': phrase_link}, true) }}
{{ phrase('user.emails.comment_approved') }}