<dp:subject>{{ phrase('user.email_subjects.feedback_new-comment', {title: feedback.title}) }}</dp:subject>
{{ phrase('user.emails.feedback_new-comment', {name: comment.getUserName(true)|default('Anonymous') }) }}

<br /><br />

{{ comment.getContentHtml()|raw }}

<br /><br />

{{ phrase('user.emails.label_view-online') }}:
<a href="{{ url_full('user_feedback_view', {'slug': feedback.url_slug}) }}">
	{{ url_full('user_feedback_view', {'slug': feedback.url_slug}) }}
</a>