<dp:subject>{{ phrase('user.email_subjects.register-welcome') }}</dp:subject>
{{ phrase('user.emails.greeting') }}

<br /><br />

{{ phrase('user.emails.register-welcome') }}<br/>
<a href="{{ url_full('user') }}">{{ url_full('user') }}</a>

{% if not person.is_agent_confirmed %}
	<br /><br />
	{{ phrase('user.emails.register-agent-validation') }}
{% endif %}