<dp:subject>{{ phrase('user.email_subjects.password_reset') }}</dp:subject>
{{ phrase('user.emails.password_reset') }}
{% if person.is_agent %}
	{% if interface and interface == 'billing' %}
		<a href="{{ url_full('billing_login', {'reset_code': code}) }}">{{ url_full('billing_login', {'reset_code': code}) }}</a>
	{% else %}
		<a href="{{ url_full('agent_login', {'reset_code': code}) }}">{{ url_full('agent_login', {'reset_code': code}) }}</a>
	{% endif %}
{% else %}
	<a href="{{ url_full('user_login_resetpass_newpass', {'code': code}) }}">{{ url_full('user_login_resetpass_newpass', {'code': code}) }}</a>
{% endif %}