{% extends 'AgentBundle:Common:display-options-layout.html.twig' %}
{% block other_options %}
	<div style="display: none"><select name="order_by" class="sel-order-by">
		<option class="name-asc" value="organization.name:asc">{{ phrase('agent.general.name_az') }}</option>
		<option class="name-desc" value="organization.name:desc">{{ phrase('agent.general.name_za') }}</option>
		<option class="num_members" value="organization.num_members:desc">{{ phrase('agent.general.number_of_members') }}</option>
	</select></div>
{% endblock %}
{% block display_elements_list %}
	<li data-field="members_count"><input type="checkbox" name="members_count" {% if 'members_count' in display_fields %}checked="checked"{% endif %} /> {{ phrase('agent.general.number_of_members') }}</li>
	<li data-field="labels"><input type="checkbox" name="labels" {% if 'labels' in display_fields %}checked="checked"{% endif %} /> {{ phrase('agent.general.labels') }}</li>
	{% for f in org_field_defs %}
		{% set t = 'organization_fields[' ~ f.id ~ ']' %}
		<li data-field="organization_fields[{{f.id}}]"><input type="checkbox" name="organization_fields[{{f.id}}]" {% if t in display_fields %}checked="checked"{% endif %} />{{f.title}}</li>
	{% endfor %}
{% endblock %}
