{% extends 'AdminBundle::layout.html.twig' %}
{% import 'AdminBundle:Common:design-macros.html.twig' as design %}
{% block pagebar %}
     <ul>
         <li><a href="{{ path('admin_userreg_options') }}">{{ phrase('admin.user_registration.registration_settings') }}</a></li>
		 <li>{{ phrase('admin.user_registration.facebook_setup') }}</li>
     </ul>
{% endblock %}
{% block prepage %}
	<div style="padding: 10px 10px 0 10px;">
		{{ design.helpbox() }}
			<p>
				{{ phrase('admin.user_registration.notice_enabled_facebook') }}
				<a href="https://developers.facebook.com/docs/opengraph/tutorial/#create-app">{{ phrase('admin.user_registration.click_here_to_sign_up') }}</a>.
			</p>
		{{ design.helpbox_end() }}
	</div>
{% endblock %}
{% block page %}

<form action="{{ path('admin_userreg_facebook_edit') }}" method="post" class="dp-form">
	{{ form_token('facebook_setup') }}
	<input type="hidden" name="process" value="1" />

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.application_key') }}</label>
		</div>
		<div class="dp-form-input">
			<input type="text" name="facebook[app_key]" value="{{ options.app_key }}" placeholder="{{ phrase('admin.user_registration.enter_facebook_api_key') }}" />
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.application_secret') }}</label>
		</div>
		<div class="dp-form-input">
			<input type="text" name="facebook[app_secret]" value="{{ options.app_secret }}" placeholder="{{ phrase('admin.user_registration.enter_facebook_api_secret') }}" />
		</div>
	</div>

	<footer class="controls">
	<div class="is-not-loading">
		<button class="clean-white">{{ phrase('agent.general.save') }}</button>
	</div>
	<div class="is-loading">
		<div class="loading-icon-flat">&nbsp;</div>
	</div>
</footer>

<br class="clear" />
</form>
{% endblock %}
