	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.database_dsn') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.db_dsn) }}
			<br />
			<small>
                {% set phrase_part %}
				<a href="http://www.php.net/manual/en/ref.pdo-mysql.connection.php">{{ phrase('admin.user_registration.mysql') }}</a>,
				<a href="http://www.php.net/manual/en/ref.pdo-sqlsrv.connection.php">{{ phrase('admin.user_registration.ms_sql') }}</a>,
				<a href="http://www.php.net/manual/en/ref.pdo-sqlite.connection.php">{{ phrase('admin.user_registration.sqlite') }}</a>,
				<a href="http://www.php.net/manual/en/pdo.drivers.php">{{ phrase('agent.general.more') }}</a>
                {% endset %}
                {{ phrase('admin.user_registration.enter_the_dsn', {'links':phrase_part}, true) }}
			</small>
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.database_user') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.db_username) }}
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.database_password') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.db_password) }}
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.table') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.table) }}
			<br />
            <small>{{ phrase('admin.user_registration.table_containing_user_info') }}</small>
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.id_field') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.field_id) }}
			<br />
			<small>{{ phrase('admin.user_registration.lbl_user_id_field') }}</small>
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.username_field') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.field_username) }}
			<br />
			<small>{{ phrase('admin.user_registration.enter_username_field_here') }}</small>
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.email_field') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.field_email) }}
			<br />
			<small>{{ phrase('admin.user_registration.enter_email_field_here') }}</small>
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.password_field') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.field_password) }}
			<br />
			<small>{{ phrase('admin.user_registration.lbl_password_field') }}</small>
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.first_name_field') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.field_first_name) }}
			<br />
			<small>{{ phrase('admin.user_registration.enter_name_field_here') }}</small>
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.last_name_field') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.field_last_name) }}
			<br />
			<small>{{ phrase('admin.user_registration.enter_name_field_here') }}</small>
		</div>
	</div>

	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.user_registration.full_name_field') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.field_name) }}
			<br />
			<small>{{ phrase('admin.user_registration.enter_name_field_here') }}</small>
		</div>
	</div>

	{% if app.isCloud() %}
		<div class="dp-form-row">
			<div class="dp-form-label">
				<label>{{ phrase('admin.user_registration.php_password_code') }}</label>
			</div>
			<div class="dp-form-input">
				DeskPRO by default will check the user input against the "password" field. If you use a hashing mechanism or
				some other custom password checking scheme, contact support@deskpro.com and we help implement it for you.
			</div>
		</div>
	{% else %}
		<div class="dp-form-row">
			<div class="dp-form-label">
				<label>{{ phrase('admin.user_registration.php_password_code') }}</label>
			</div>
			<div class="dp-form-input">
				{{ form_widget(form.password_php, {attr: {style: 'height: 150px'}}) }}
				<br />
				<small>
					{{ phrase('admin.user_registration.enter_raw_php_code') }}
				</small>
			</div>
		</div>
	{% endif %}