{% extends 'AgentBundle:Common:display-options-layout.html.twig' %}
{% block other_options %}
	<div style="display: none">
		{{ phrase('agent.general.order_by') }}: <select name="order_by" class="sel-order-by">
			<option class="date" value="date_created:desc">{{ phrase('agent.general.date_created_newestoldest') }}</option>
			<option value="date_created:desc">{{ phrase('agent.general.date_created_oldestnewest') }}</option>
			<option class="popularity" value="popularity:desc">{{ phrase('agent.feedback.popularity_most_least') }}</option>
			<option value="popularity:desc">{{ phrase('agent.feedback.popularity_least_most') }}</option>
			<option class="votes" value="num_ratings:desc">{{ phrase('agent.feedback.votes_most_least') }}</option>
			<option value="num_ratings:desc">{{ phrase('agent.feedback.votes_least_most') }}</option>
		</select>
	</div>
{% endblock %}
{% block display_elements_list %}
	<li data-field="author"><input type="checkbox" name="author" {% if 'author' in display_fields %}checked="checked"{% endif %} /> {{ phrase('agent.general.author') }}</li>
	<li data-field="category"><input type="checkbox" name="category" {% if 'category' in display_fields %}checked="checked"{% endif %} /> {{ phrase('agent.general.type') }}</li>
	{% if user_cat_field %}<li data-field="user_cat"><input type="checkbox" name="user_cat" {% if 'user_cat' in display_fields %}checked="checked"{% endif %} /> {{ phrase('agent.general.category') }}</li>{% endif %}
	<li data-field="date_created"><input type="checkbox" name="date_created" {% if 'date_created' in display_fields %}checked="checked"{% endif %} /> {{ phrase('agent.general.date_created') }}</li>
{% endblock %}
