<div class="full-tab-content">
	<div class="feedback-content-wrap content-post-wrap">
		{{ feedback.content_html|raw }}
		{% if feedback.attachments|length %}
			<ul class="attachment-list">
				{% for attach in feedback.attachments %}
					<li class="{% if attach.blob.isImage() %}is-image{% else %}icon icon-attachment icon-filetype-{{attach.blob.extension|default('none')}}{% endif %}" rel="message-{{message.id}}">
						{% if attach.blob.isImage() %}
							<a href="{{ attach.blob.download_url }}" target="_blank"><img src="{{ path('serve_blob', {'blob_auth_id': attach.blob.auth_id, 'filename': attach.blob.filename_safe, 's': 50, 'size-fit': '1'}) }}" alt="" class="preview" /></a>
						{% endif %}
						<a href="{{ attach.blob.download_url }}" target="_blank">{{attach.blob.filename}}</a>
						<span class="size">({{ attach.blob.readable_filesize }})</span>
					</li>
				{% endfor %}
			</ul>
		{%endif%}
	</div>
	<div class="feedback-editor-wrap article-editor-wrap" style="display: none">
		<div class="feedback-editor">
			{% if state.feedback.content %}
				<div class="revert-message-notice">
					{{ phrase('agent.general.unsaved_changes_were_restored') }} <button class="revert-default">{{ phrase('agent.publish.discard_unsaved_changes') }}</button>
					<br />
				</div>
			{% endif %}
			<textarea class="edit-content-field" name="feedback[content]" rows="5" cols="50">{{ state.feedback.content|default(feedback.content) }}</textarea>
			{% include 'AgentBundle:Common:attach-row-tmpl.html.twig' with {formname: 'newfeedback[attach][]'} %}
			<h6>{{ phrase('agent.general.attachments') }}</h6>
			<div class="file-input">
				<input type="file" name="file-upload" multiple="multiple" /> <button class="clean-gray xxx-small">{{ phrase('agent.general.upload') }}</button>
			</div>
			<ul class="files file-list">
				{% for attach in feedback.attachments %}
					<li>
						<em class="remove-attach-trigger delete" data-blob-id="{{ attach.blob.id }}"></em>
						<label><a href="{{ attach.blob.download_url }}" target="_blank">{{attach.blob.filename}}</a> <span>{{ attach.blob.readable_filesize }}</span></label>
					</li>
				{% endfor %}
			</ul>

			<textarea class="edit-content-field-default" style="display: none;">{{feedback.content}}</textarea>
		</div>
	</div>
</div>
