{% if people_tag_cloud|length %}
	<ul>
		{% for label,css_class in people_tag_cloud %}
			<li id="people_label_cloud_{{label|slugify}}" class="{{css_class}} nav-label-{{label|slugify}} is-nav-item" data-route="listpane:{{ path('agent_peoplesearch_customfilter') }}?terms[0][type]=person_label&amp;terms[0][op]=is&amp;terms[0][label]={{label}}"><span>{{label}}</span></li>
		{% endfor %}
	</ul>
{% else %}
    <aside class="source-info-explain">{{ phrase('agent.general.no_people_labels') }}</aside>
{% endif %}
