{% if people_tag_index|length %}
	<table>
		{% for letter,labels in people_tag_index %}
			<tr>
				<td class="letter">{{ letter }}</td>
				<td class="labels">
					<ul>
						{% for label in labels %}
							<li id="people_label_list_{{label|slugify}}" class="{{css_class}} nav-label-{{label|slugify}} is-nav-item" data-route="listpane:{{ path('agent_peoplesearch_customfilter') }}?terms[0][type]=person_label&amp;terms[0][op]=is&amp;terms[0][label]={{label}}"><span>{{label}}</span></li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
    <aside class="source-info-explain">{{ phrase('agent.general.no_people_labels') }}</aside>
{% endif %}
