<li class="task task-row-{{ task.id }} inside"
	data-class-id="task-row-{{ task.id }}"
	data-route="listpane:{{ path('agent_task_list',{'search_type': 'delegate', 'search_categoty': 'total'}) }}"
	data-route-notabreload="1"
>
	<div class="dismiss"><i class="icon-ban-circle"></i></div>
	<time></time>
	<big>{{ task.title }}</big>
	<small>
		{{ phrase('agent.tasks.completed_by', {name: performer.display_name}) }}
	</small>
</li>